.main_title {
    background-color: #0F0F0F;
    color: #FFFFFF;
    border-radius: 4px solid;
    border-radius: 4px;
}

.menu {
    background-color: #0F0F0F;;
}

.link {
    color: #BFBFBF;
}

.link:hover {
    color: #FFFFFF;
    background-color: #1A1A1A;
    border-radius: 4px solid;
    border-radius: 8px;
}

.lessons_name {
    background-color: #0F0F0F;
    color: #FFFFFF;
}